.bredcrums {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* 8px = 0.5rem */
    color: #5e5e5e;
    font-size: 1rem; /* 16px = 1rem */
    font-weight: 600;
    justify-content: center;
    margin-top: 1.875rem; /* 30px = 1.875rem */
    margin-bottom: 1.875rem; /* 30px = 1.875rem */
    text-transform: capitalize;
}